nextcord-ext-menus
nextcord[speed, voice]
python-dotenv==0.19.0
asyncpraw==7.4.0
asyncio
asyncpg==0.24.0
pymongo[srv]
pafy
PyNaCl
psutil
aiodns 
Brotli
cchardet
orjson
typeshed_client
beautifulsoup4
lxml
pytz
better_profanity
apscheduler
uvloop
git+git://github.com/rbx-libdev/ro.py.git